<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="CRMS - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Dashboard - CRMS admin template</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!-- Feathericon CSS -->
		<link rel="stylesheet" href="assets/css/feather.css">

        <!--font style -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap" rel="stylesheet">

        <!-- Ckeditor CSS-->
        <link rel="stylesheet" href="assets/css/ckeditor.css">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="assets/css/line-awesome.min.css">

		<!-- Theme CSS -->
        <link rel="stylesheet" href="assets/css/theme-settings.css">

		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css" class="themecls">

    </head>
    <body >
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header" id="heading">
			
				<!-- Logo -->
                <div class="header-left">
                    <header text-align: center>Schultz Bernstein and Associates</header>
                </div>
				<!-- /Logo -->
				
				<a id="toggle_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Title -->
               
				<!-- /Header Title -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
				
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">

						<ul>
							<li class="nav-item nav-profile">
				              <a href="#" class="nav-link">
				                <div class="nav-profile-image">
				                  <img src="assets/img/profiles/avatar-17.jpg" alt="profile">
				                  
				                </div>
				                <div class="nav-profile-text d-flex flex-column">
				                  <span class="font-weight-bold mb-2">Steve Storrs</span>
				                  <span class="text-white text-small">Owner</span>
				                </div>
				                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
				              </a>
				            </li>
		
							
					
							<li> 
								<a href="dashboard.html"><i class="feather-check-square"></i> <span>Dashboard</span></a>
							</li>
							<li> 
								<a href="contacts.html"><i class="feather-user"></i> <span>Contacts</span></a>
							</li>
							<li> 
								<a href="companies.html"><i class="feather-database"></i> <span>Companies</span></a>
							</li>
							<li> 
								<a href="calendar.html"><i class="feather-calendar"></i> <span>Calendar</span></a>
							</li>
							
							<li> 
								<a href="Addtask.html"><i class="feather-radio"></i> <span>Add task</span></a>
							</li>
							<li> 
								<a href="task-list.html"><i class="feather-grid"></i> <span>Task List</span></a>
							</li>
							<li> 
								<a href="conversation-history.html"><i class="feather-smartphone"></i> <span>Conversation History</span></a>
							</li>
							<li> 
								<a href="quick-notes.html"><i class="feather-calendar"></i> <span>Quick Notes</span></a>
							</li>							
							
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">			
                    <div class="row justify-content-center">			
                        <div class="col-lg-10 col-xl-9">			
                    
                            <!-- Blog Details-->
                            <div class="blog-view">
                                <div class="blog-single-post">
                                    <a href="blog.html" class="back-btn"><i class="feather-chevron-left"></i> Back</a>
                                    <div class="blog-image">
                                        <a href="javascript:void(0);"><img alt="" src="assets/img/category/blog-7.jpg" class="img-fluid"></a>
                                    </div>
                                    <h3 class="blog-title">Contrary to popular belief, Lorem Ipsum is not simply random text</h3>
                                    <div class="blog-info">
                                        <div class="post-list">
                                            <ul>
                                                <li>
                                                    <div class="post-author">
                                                        <a href="profile.html"><img src="assets/img/profiles/avatar-14.jpg" alt="Post Author"> <span>by Prof. Lester </span></a>
                                                    </div>
                                                </li>
                                                <li><i class="feather-clock"></i> Dec 6, 2017</li>
                                                <li><i class="feather-message-square"></i> 40 Comments</li>
                                                <li><i class="feather-grid"></i> Project Manager</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                                    </div>
                                </div>
                                
                                <!-- About Author -->
                                <div class="card author-widget clearfix">
                                    <div class="card-header">
                                        <h4 class="card-title">About Author</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="about-author">
                                            <div class="about-author-img">
                                                <div class="author-img-wrap">
                                                    <a href="profile.html"><img class="img-fluid" alt="" src="assets/img/profiles/avatar-10.jpg"></a>
                                                </div>
                                            </div>
                                            <div class="author-details">
                                                <a href="profile.html" class="blog-author-name">Prof. Darren Elder <span>Team Lead, Male, 40 Years Old</span></a>
                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /About Author -->
                                
                                <!-- Comments -->
                                <div class="card blog-comments">
                                    <div class="card-header">
                                        <h4 class="card-title">Comments (5)</h4>
                                    </div>
                                    <div class="card-body pb-0">
                                        <ul class="comments-list">
                                            <li>
                                                <div class="comment">
                                                    <div class="comment-author">
                                                        <img class="avatar" alt="" src="assets/img/profiles/avatar-22.jpg">
                                                    </div>
                                                    <div class="comment-block">
                                                        <div class="comment-by">
                                                            <h5 class="blog-author-name">Michelle Fairfax <span class="blog-date"> <i class="feather-clock me-1"></i>Dec 6, 2017</span></h5>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>											
                                                        <a class="comment-btn" href="#">
                                                            <i class="fa fa-reply me-2"></i> Reply
                                                        </a>
                                                    </div>
                                                </div>
                                                <ul class="comments-list reply">
                                                    <li>
                                                        <div class="comment">
                                                            <div class="comment-author">
                                                                <img class="avatar" alt="" src="assets/img/profiles/avatar-03.jpg">
                                                            </div>
                                                            <div class="comment-block">
                                                                <div class="comment-by">
                                                                    <h5 class="blog-author-name">Gina Moore <span class="blog-date"> <i class="feather-clock me-1"></i> 6 Dec 2022</span></h5>
                                                                </div>
                                                                <p>gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur</p>
                                                                <a class="comment-btn" href="#">
                                                                    <i class="fa fa-reply me-2"></i> Reply
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="comment">
                                                            <div class="comment-author">
                                                                <img class="avatar" alt="" src="assets/img/profiles/avatar-04.jpg">
                                                            </div>
                                                            <div class="comment-block">
                                                                <div class="comment-by">
                                                                    <h5 class="blog-author-name">Carl Kelly <span class="blog-date"> <i class="feather-clock me-1"></i> 7 Dec 2022</span></h5>
                                                                </div>
                                                                <p> pellentesque urna varius vitae, gravida pellentesque urna  consectetur adipiscing elit. Nam viverra euismod.</p>
                                                                <a class="comment-btn" href="#">
                                                                    <i class="fa fa-reply me-2"></i> Reply
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="comment">
                                                    <div class="comment-author">
                                                        <img class="avatar" alt="" src="assets/img/profiles/avatar-05.jpg">
                                                    </div>
                                                    <div class="comment-block">
                                                        <div class="comment-by">
                                                            <h5 class="blog-author-name">Elsie Gilley <span class="blog-date"> <i class="feather-clock me-1"></i> 7 Dec 2022</span></h5>
                                                        </div>
                                                        <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
														<a class="comment-btn" href="#">
                                                            <i class="fa fa-reply me-2"></i> Reply
                                                        </a>
													</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="comment">
                                                    <div class="comment-author">
                                                        <img class="avatar" alt="" src="assets/img/profiles/avatar-16.jpg">
                                                    </div>
                                                    <div class="comment-block">
                                                        <div class="comment-by">
                                                            <h5 class="blog-author-name">Joan Gardner <span class="blog-date"> <i class="feather-clock me-1"></i>  12 Dec 2022</span></h5>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                        <a class="comment-btn" href="#">
                                                            <i class="fa fa-reply me-2"></i> Reply
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Comments -->
                                
                                <!-- Leave Comment -->
                                <div class="card new-comment clearfix">
                                    <div class="card-header">
                                        <h4 class="card-title">Leave Comment</h4>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" placeholder="Enter your name">
                                                <label for="floatingInput">Name<span class="text-danger">*</span></label>
                                              </div>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                <label for="floatingInput">Your Email address<span class="text-danger">*</span></label>
                                              </div>
                                            <div class="form-group">
                                                <textarea rows="4" class="form-control bg-grey" placeholder="Comments"></textarea>
                                            </div>
                                            <div class="submit-section">
                                                <button class="submit-btn btn-primary btn-blog" type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Leave Comment -->
                                
                                <div class="card blog-share clearfix">
                                    <div class="card-header">
                                        <h4 class="card-title">Share the post</h4>
                                    </div>
                                    <div class="card-body">
                                        <ul class="social-share">
                                            <li><a href="#"><i class="feather-twitter"></i></a></li>
                                            <li><a href="#"><i class="feather-facebook"></i></a></li>
                                            <li><a href="#"><i class="feather-linkedin"></i></a></li>
                                            <li><a href="#"><i class="feather-instagram"></i></a></li>
                                            <li><a href="#"><i class="feather-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                    <!-- /Blog Details-->
            
                </div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->

        <!-- Modal -->
        <div class="modal fade confirmModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content p-3">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <h5 class="mb-3">Confirm Save Changes</h5>
							<button type="button" class="btn btn-dark w-md" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary w-md" data-bs-dismiss="modal"
							onclick="nextTab()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		 <!--theme settings modal-->

		 <div class="modal right fade settings" id="settings"  role="dialog" aria-modal="true">
			<div class="toggle-close">
				  <div class="toggle" data-bs-toggle="modal" data-bs-target="#settings"><i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
				  </div>
	   
			</div>
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header p-3">
						<h4 class="modal-title" id="myModalLabel2">Theme Customizer</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
					</div>

					<div class="modal-body pb-3">
						<div class="scroll">
						
						<div>
							<ul class="list-group">
								<li class="list-group-item border-0">
								  <div class="row">
									<div class="col">
									  <h5 class="pb-2">Primary Skin</h5>
									</div>
									<div class="col text-end d-none">
									  <a class="reset text-white bg-dark" id="ChangeprimaryDefault">Reset Default</a>
									</div>
								  </div>
								  <div class="theme-settings-swatches">
									 <div class="themes">
											<div class="themes-body">
												<ul id="theme-changes" class="theme-colors border-0 list-inline-item list-unstyled mb-0">
													
													<li class="theme-title">Solid Color</li>
													<li class="list-inline-item"><span onclick="toggleTheme('style')" class="theme-defaults bg-warnings"  ></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-green')" class="theme-solid-purple bg-warnings"  ></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-blue')" class="theme-solid-black bg-blue"></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-orange')" class="theme-solid-pink bg-orange"></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-pink')" class="theme-solid-pink bg-pink"></span></li> 
													<li class="list-inline-item"><span onclick="toggleTheme('style-purple')" class="theme-solid-purle bg-purple"></span></li> 
													<li class="list-inline-item"><span onclick="toggleTheme('style-red')" class="theme-solid-danger bg-danger"></span></li> 
													<li><br /></li>
													<li><hr /></li>

													<li class="theme-title">Gradient Color</li>
													

													<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-blue')" class="theme-orange bg-sunny-mornings"></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-green')" class="theme-blue bg-tempting-azures"></span></li> 
													<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-maroon')" class="theme-grey bg-amy-crisps"></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-orange')" class="theme-lgrey bg-mean-fruits"></span></li>
													<li class="list-inline-item"><span onclick="toggleTheme('style-gradient-pink')" class="theme-dblue bg-malibu-beachs"></span></li> 
												</ul>
											</div>
										</div>

									 
								  </div>
								  </li>
							  </ul>
						  </div>
						  <div>
							<ul class="list-group">
							  <li class="list-group-item border-0">
								 <div class="row">
								  <div class="col">
									<h5 class="pb-2">Header Style</h5>
								  </div>
								  <div class="col text-end">
									<a class="reset text-white bg-dark" id="ChageheaderDefault">Reset Default</a>
								  </div>
								</div>
								<div class="theme-settings-swatches">
									<div class="themes">
										<div class="themes-body">
											<ul id="theme-change1" class="theme-colors border-0 list-inline-item list-unstyled mb-0">
													<li class="theme-title">Solid Color</li>
													<li class="list-inline-item"><span class="header-solid-black bg-black"></span></li>
													<li class="list-inline-item"><span class="header-solid-pink bg-primary"></span></li>
													<li class="list-inline-item"><span class="header-solid-orange bg-secondary1"></span></li> 
													<li class="list-inline-item"><span class="header-solid-purple bg-success"></span></li>
													<!-- <li class="list-inline-item"><span class="header-solid-blue bg-info"></span></li> -->
													<li class="list-inline-item"><span class="header-solid-green bg-warnings"></span></li>
													<li><br></li>
													<li><hr></li>

													<li class="theme-title">Gradient Color</li>

													<li class="list-inline-item"><span class="header-gradient-color1 bg-sunny-morning"></span></li>
													<li class="list-inline-item"><span class="header-gradient-color2 bg-tempting-azure"></span></li> 
													<li class="list-inline-item"><span class="header-gradient-color3 bg-amy-crisp"></span></li>
													<li class="list-inline-item"><span class="header-gradient-color4 bg-mean-fruit"></span></li>
													<li class="list-inline-item"><span class="header-gradient-color5 bg-malibu-beach"></span></li> 
													<li class="list-inline-item"><span class="header-gradient-color6 bg-ripe-malin"></span></li> 
													<li class="list-inline-item"><span class="header-gradient-color7 bg-plum-plate"></span></li>
													
											</ul>
										</div>
									</div>
									
								  </div>
							  </li>
							</ul>
						  </div>
						  <div>
							<ul class="list-group m-0">
								<li class="list-group-item border-0">
								  <div class="row">
									<div class="col">
									  <h5 class="pb-2">Apps Sidebar Style</h5>
									</div>
									<div class="col  text-end">
									  <a class="reset text-white bg-dark" id="ChagesidebarDefault">Reset Default</a>
									</div>
								  </div>
								  <div class="theme-settings-swatches">
									  <div class="themes">
										  <div class="themes-body">
											  <ul id="theme-change2" class="theme-colors border-0 list-inline-item list-unstyled">
													  <li class="theme-title">Solid Color</li>
													  <li class="list-inline-item"><span class="sidebar-solid-black bg-black"></span></li>
													  <li class="list-inline-item"><span class="sidebar-solid-pink bg-primary"></span></li>
													  <li class="list-inline-item"><span class="sidebar-solid-orange bg-secondary1"></span></li> 
													  <li class="list-inline-item"><span class="sidebar-solid-purple bg-success"></span></li>
													  <!-- <li class="list-inline-item"><span class="sidebar-solid-blue bg-info"></span></li> -->
													  <li class="list-inline-item"><span class="sidebar-solid-green bg-warnings"></span></li>
													  <li><br></li>
													  <li><hr></li>

													  <li class="theme-title">Gradient Color</li>

													  <li class="list-inline-item"><span class="sidebar-gradient-color1 bg-sunny-morning"></span></li>
													  <li class="list-inline-item"><span class="sidebar-gradient-color2 bg-tempting-azure"></span></li> 
													  <li class="list-inline-item"><span class="sidebar-gradient-color3 bg-amy-crisp"></span></li>
													  <li class="list-inline-item"><span class="sidebar-gradient-color4 bg-mean-fruit"></span></li>
													  <li class="list-inline-item"><span class="sidebar-gradient-color5 bg-malibu-beach"></span></li> 
													  <li class="list-inline-item"><span class="sidebar-gradient-color6 bg-ripe-malin"></span></li> 
													  <li class="list-inline-item"><span class="sidebar-gradient-color7 bg-plum-plate"></span></li>
													  
											  </ul>
										  </div>
									  </div>
									  
									</div>
								</li>
							  </ul>
							<div class="row Default-font">
								<div class="col">
									<h5 class="pb-2">Font Style</h5>
								</div>
								<div class="col text-end">
									<a class="reset text-white bg-dark font-Default">Reset Default</a>
								</div>
							</div>
							<ul class="list-inline-item list-unstyled font-family border-0 p-0" id="theme-change">
							  
							  <li class="list-inline-item roboto-font" >Roboto</li>
							  <li class="list-inline-item poppins-font">Poppins</li>
							  <li class="list-inline-item montserrat-font" >Montserrat</li>
							  <li class="list-inline-item inter-font">Inter</li>
							</ul>
						</div>
						
					</div>
					</div>

				</div>
			</div>
		</div>

		<!--theme settings-->
        <div class="sidebar-contact">
          	<div class="toggle" data-bs-toggle="modal" data-bs-target="#settings"><i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i></div>
           
        </div>



		<!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="assets/js/jquery.slimscroll.min.js"></script>

        <!-- Feather Icon JS -->
		<script src="assets/js/feather.min.js"></script>

        <!-- ckeditor JS -->
	    <script src="assets/js/ckeditor.js"></script>

        <!-- Bootstrap Tagsinput JS -->
        <script src="assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>
      
		<!-- theme JS -->
		<script src="assets/js/theme-settings.js"></script>

		<!-- Custom JS -->
		<script src="assets/js/app.js"></script>

    </body>
</html> 