#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 > #backgroundBox {
  position: absolute;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1920.0px;
  max-height: 1080.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Rectangle_6 {
  position: absolute;
  width: 1917.9152935192028px;
  min-height: 1078.304279276034px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 5px #D8D5FF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Button_1 {
  position: absolute;
  width: 629.5290573852692px;
  min-height: 75.97143785808441px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Button_1 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 1.2px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 {
  position: absolute;
  width: 629.5290573852692px;
  height: 88.22489557712993px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 .valign {
  vertical-align: middle;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 {
  position: absolute;
  width: 629.5290573852692px;
  height: 88.22489557713016px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 .valign {
  vertical-align: middle;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Input_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Paragraph_16 {
  position: absolute;
  width: 542.1661192761619px;
  min-height: 55.62004286384271px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Paragraph_16 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 14.25pt;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 14.25pt;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 #s-Mask_2 {
  position: absolute;
  width: 938.026123046875px;
  height: 1080.30419921875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-3edcb03a-862a-4b39-9342-843b05ecb2f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}