#s-6c5af1f6-6df1-421e-a443-025d903a9740 > #backgroundBox {
  position: absolute;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 > #alignmentBox {
  position: relative;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_33 {
  position: absolute;
  width: 260.5362203188882px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_33 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_33 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 15.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_33 span#rtr-s-Paragraph_33_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 15.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Union_6 {
  position: absolute;
  width: 21.192672729492188px;
  height: 15.984161376953125px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_7 {
  position: absolute;
  width: 180.00000000000017px;
  min-height: 827.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(1.8369701987210296E-15px -10.0px 5px #D8D5FF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_1 {
  position: absolute;
  width: 180.0px;
  min-height: 83.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_54 {
  position: absolute;
  width: 16.245140075683594px;
  height: 16.245136260986328px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_7 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_7 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Union_1 {
  position: absolute;
  width: 14.504798889160156px;
  height: 14.50482177734375px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_6 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_6 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_4 {
  position: absolute;
  width: 17.598670959472656px;
  height: 17.60171890258789px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_5 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_5 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_3 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_3 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_124 {
  position: absolute;
  width: 15.85205078125px;
  height: 13.209049224853516px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_2 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_2 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_42 {
  position: absolute;
  width: 17.065711975097656px;
  height: 17.066011428833008px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_14 {
  position: absolute;
  width: 181.3787078857422px;
  height: 2.0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_1 {
  position: absolute;
  width: 81.21599578857416px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_1 span {
  color: #8B8B8B;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_14 {
  position: absolute;
  width: 101.60833780929454px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: center;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_13 {
  position: absolute;
  width: 113.92626953125px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 13.5pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 13.5pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_10 {
  position: absolute;
  width: 20.0px;
  height: 20.189903259277344px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_2 {
  position: absolute;
  width: 825.7377898437996px;
  min-height: 261.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_1 {
  position: absolute;
  width: 830.4515991210938px;
  height: 7.2577409744262695px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_4 {
  position: absolute;
  width: 63.489818931627724px;
  min-height: 19.692832275112266px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_8 {
  position: absolute;
  width: 91.81782781645097px;
  min-height: 28.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_10 {
  position: absolute;
  width: 70.83411753139637px;
  min-height: 28.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_2 {
  position: absolute;
  width: 16.408309936523438px;
  height: 15.758026123046875px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_3 {
  position: absolute;
  width: 13.890960693359375px;
  height: 3.3499755859375px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_11 {
  position: absolute;
  width: 63.489818931627724px;
  min-height: 19.692832275112266px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_12 {
  position: absolute;
  width: 103.35886847323081px;
  min-height: 28.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_16 {
  position: absolute;
  width: 63.48981893162738px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_5 {
  position: absolute;
  width: 16.408309936523438px;
  height: 15.758026123046875px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_6 {
  position: absolute;
  width: 13.890960693359375px;
  height: 3.3499755859375px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_7 {
  position: absolute;
  width: 830.4515991210938px;
  height: 7.2577409744262695px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_17 {
  position: absolute;
  width: 49.89506605965312px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_18 {
  position: absolute;
  width: 111.14529807944223px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_8 {
  position: absolute;
  width: 16.408309936523438px;
  height: 15.758026123046875px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_9 {
  position: absolute;
  width: 13.890960693359375px;
  height: 3.3499755859375px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_11 {
  position: absolute;
  width: 830.4515991210938px;
  height: 7.2577409744262695px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_21 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_22 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_22 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_23 {
  position: absolute;
  width: 63.48981893162761px;
  min-height: 19.692832275112266px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_23 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_24 {
  position: absolute;
  width: 54.783306187496066px;
  min-height: 19.692832275112323px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_24 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Button_1 {
  position: absolute;
  width: 102.74343975269585px;
  min-height: 35.31999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #3C2CD1;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #3C2CD1;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #3C2CD1;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #3C2CD1;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Button_1 span {
  color: #3C2CD1;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 1.2px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_25 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_25 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_26 {
  position: absolute;
  width: 128.04679555667656px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_26 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_3 {
  position: absolute;
  width: 825.7377898437996px;
  min-height: 261.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_12 {
  position: absolute;
  width: 830.4515991210938px;
  height: 7.2577409744262695px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_27 {
  position: absolute;
  width: 69.48981893162772px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_28 {
  position: absolute;
  width: 91.81782781645097px;
  min-height: 33.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_29 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_30 {
  position: absolute;
  width: 70.83411753139637px;
  min-height: 28.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_30 span#rtr-s-Paragraph_30_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_13 {
  position: absolute;
  width: 16.408309936523438px;
  height: 15.758026123046875px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_15 {
  position: absolute;
  width: 13.890960693359375px;
  height: 3.3499755859375px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_31 {
  position: absolute;
  width: 71.48981893162772px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_31 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_31 span#rtr-s-Paragraph_31_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_32 {
  position: absolute;
  width: 103.35886847323081px;
  min-height: 28.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_32 span#rtr-s-Paragraph_32_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_34 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_35 {
  position: absolute;
  width: 63.48981893162738px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_16 {
  position: absolute;
  width: 16.408309936523438px;
  height: 15.758026123046875px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_17 {
  position: absolute;
  width: 13.890960693359375px;
  height: 3.3499755859375px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_18 {
  position: absolute;
  width: 830.4515991210938px;
  height: 7.2577409744262695px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_36 {
  position: absolute;
  width: 94.89506605965312px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_37 {
  position: absolute;
  width: 111.14529807944223px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_37 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_37 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_37 span#rtr-s-Paragraph_37_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_38 {
  position: absolute;
  width: 86.19200134277344px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_38 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_38 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_38 span#rtr-s-Paragraph_38_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_39 {
  position: absolute;
  width: 50.02799987792969px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_39 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_39 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_39 span#rtr-s-Paragraph_39_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_19 {
  position: absolute;
  width: 16.408309936523438px;
  height: 15.758026123046875px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_20 {
  position: absolute;
  width: 13.890960693359375px;
  height: 3.3499755859375px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Path_21 {
  position: absolute;
  width: 830.4515991210938px;
  height: 7.2577409744262695px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_40 {
  position: absolute;
  width: 58.07999801635742px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_40 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_40 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_40 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_40 span#rtr-s-Paragraph_40_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_41 {
  position: absolute;
  width: 81.18799972534202px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_41 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_41 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_41 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_41 span#rtr-s-Paragraph_41_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_42 {
  position: absolute;
  width: 63.48981893162761px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_42 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_42 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_42 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_42 span#rtr-s-Paragraph_42_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_43 {
  position: absolute;
  width: 54.783306187496066px;
  min-height: 19.692832275112323px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_43 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_43 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_43 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_43 span#rtr-s-Paragraph_43_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_45 {
  position: absolute;
  width: 128.04679555667656px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_45 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_45 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_45 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 #s-Paragraph_45 span#rtr-s-Paragraph_45_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6c5af1f6-6df1-421e-a443-025d903a9740 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}