#s-ae11456b-37df-4707-b8d1-8c216e5c762c > #backgroundBox {
  position: absolute;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c > #alignmentBox {
  position: relative;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_61 {
  position: absolute;
  width: 273.4882812499999px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_61 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_61 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_61 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_61 span#rtr-s-Paragraph_61_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_15 {
  position: absolute;
  width: 135.5390625px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_15 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 15.0pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 15.0pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Union_5 {
  position: absolute;
  width: 18.471176147460938px;
  height: 15.984161376953125px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_3 {
  position: absolute;
  width: 853.4751486027486px;
  min-height: 67.35508502159512px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_1 {
  position: absolute;
  width: 151.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_1 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_1 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_1 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_1 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_1 {
  position: absolute;
  width: 62.99999999999932px;
  height: 50.196712958779045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_1 .valign {
  vertical-align: middle;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_1 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_2 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_2 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_2 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_2 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_2 {
  position: absolute;
  width: 62.99999999999932px;
  height: 50.196712958779045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_2 .valign {
  vertical-align: middle;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_2 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_2 .line_options.selected {
  background-color: #000000 !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_2 .selected > .options {
  color: #FFFFFF !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_2 .line_options:hover {
  background-color: #000000 !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_2 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_2 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_2 {
  position: absolute;
  width: 151.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_3 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_3 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_3 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_3 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_3 {
  position: absolute;
  width: 79.99999999999932px;
  height: 50.19671295877902px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_3 .valign {
  vertical-align: middle;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_3 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_3 .line_options.selected {
  background-color: #000000 !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_3 .selected > .options {
  color: #FFFFFF !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_3 .line_options:hover {
  background-color: #000000 !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c .s-Category_3 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_3 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_3 {
  position: absolute;
  width: 151.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Category_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_1 {
  position: absolute;
  width: 100.99999999999977px;
  min-height: 33.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999997%);
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_1 {
  position: absolute;
  width: 1034.9169921875px;
  height: 9.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_2 {
  position: absolute;
  width: 124.99999999999955px;
  min-height: 67.35999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_2 {
  position: absolute;
  width: 1025.9170304514482px;
  min-height: 49.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_12 {
  position: absolute;
  width: 6.0px;
  height: 55.62010192871094px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_13 {
  position: absolute;
  width: 6.0px;
  height: 56.490631103515625px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_14 {
  position: absolute;
  width: 6.0px;
  height: 55.62010192871094px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_15 {
  position: absolute;
  width: 6.0px;
  height: 54.749576568603516px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_16 {
  position: absolute;
  width: 6.0px;
  height: 54.74957275390625px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_17 {
  position: absolute;
  width: 6.0px;
  height: 50.396934509277344px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_18 {
  position: absolute;
  width: 6.0px;
  height: 56.490631103515625px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_19 {
  position: absolute;
  width: 5.999999523162842px;
  height: 57.36116027832031px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_20 {
  position: absolute;
  width: 6.0px;
  height: 58.231689453125px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_21 {
  position: absolute;
  width: 6.0px;
  height: 58.231689453125px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_22 {
  position: absolute;
  width: 6.0px;
  height: 55.62010192871094px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_23 {
  position: absolute;
  width: 6.0px;
  height: 53.00851821899414px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_3 {
  position: absolute;
  width: 38.0px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_3 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/fb25e9e1-99f2-46d6-ae1d-0a43caa9dec5.jpg');
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_4 {
  position: absolute;
  width: 54.50000000000125px;
  min-height: 49.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_5 {
  position: absolute;
  width: 38.999999999999886px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999997%);
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_5 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.85;
  background-image: url('../../images/6d1ae893-9242-47a8-aa89-8d26cee3f6ce.jpg');
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_6 {
  position: absolute;
  width: 61.500000000001364px;
  min-height: 44.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_7 {
  position: absolute;
  width: 62.50000000000125px;
  min-height: 49.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_8 {
  position: absolute;
  width: 74.95851522572275px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_9 {
  position: absolute;
  width: 112.97925761286047px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_9 span#rtr-s-Button_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_10 {
  position: absolute;
  width: 94.00000000000023px;
  min-height: 50.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_10 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_10 span#rtr-s-Button_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_11 {
  position: absolute;
  width: 94.00000000000023px;
  min-height: 50.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_11 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_11 span#rtr-s-Button_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_12 {
  position: absolute;
  width: 42.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_12 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999999%);
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_12 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/aa8e8f8b-03d7-4475-97d8-b388aa378663.jfif');
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_12 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_12 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Button_12 span#rtr-s-Button_12_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_1 {
  position: absolute;
  width: 180.00000000000023px;
  min-height: 828.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(1.8369701987210296E-15px -10.0px 5px #D8D5FF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_4 {
  position: absolute;
  width: 180.0px;
  min-height: 83.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_2 {
  position: absolute;
  width: 14.504798889160156px;
  height: 14.50482177734375px;
  cursor: pointer;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_1 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_1 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_2 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_2 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_3 {
  position: absolute;
  width: 17.065711975097656px;
  height: 17.066011428833008px;
  cursor: pointer;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_4 {
  position: absolute;
  width: 181.3787078857422px;
  height: 2.0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_3 {
  position: absolute;
  width: 81.21599578857416px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_3 span {
  color: #8B8B8B;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_4 {
  position: absolute;
  width: 86.00067983001458px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_5 {
  position: absolute;
  width: 113.92626953125px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_5 {
  position: absolute;
  width: 20.0px;
  height: 20.189903259277344px;
  cursor: pointer;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_6 {
  position: absolute;
  width: 14.504798889160156px;
  height: 14.50482177734375px;
  cursor: pointer;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_6 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_6 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_7 {
  position: absolute;
  width: 14.504798889160156px;
  height: 14.50482177734375px;
  cursor: pointer;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_7 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_7 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_8 {
  position: absolute;
  width: 14.504798889160156px;
  height: 14.50482177734375px;
  cursor: pointer;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_8 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_8 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_9 {
  position: absolute;
  width: 14.504798889160156px;
  height: 14.50482177734375px;
  cursor: pointer;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_9 {
  position: absolute;
  width: 110.0px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_9 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Path_10 {
  position: absolute;
  width: 14.504798889160156px;
  height: 14.50482177734375px;
  cursor: pointer;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_10 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_10 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ae11456b-37df-4707-b8d1-8c216e5c762c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}