#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 {
  position: absolute;
  width: 614.0px;
  min-height: 372.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  position: absolute;
  width: 151.67000000000007px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 500;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.2px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_6 {
  position: absolute;
  width: 615.732421875px;
  height: 2.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 {
  position: absolute;
  width: 220.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 {
  position: absolute;
  width: 220.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 {
  position: absolute;
  width: 220.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 {
  position: absolute;
  width: 220.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 {
  position: absolute;
  width: 220.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 {
  position: absolute;
  width: 220.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_5 {
  position: absolute;
  width: 615.732421875px;
  height: 2.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_21 span {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_20 {
  position: absolute;
  width: 87.66999999999985px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 {
  position: absolute;
  width: 220.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 {
  position: absolute;
  width: 220.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 {
  position: absolute;
  width: 180.00000000000023px;
  min-height: 828.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(1.8369701987210296E-15px -10.0px 5px #D8D5FF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  position: absolute;
  width: 180.0px;
  min-height: 83.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_54 {
  position: absolute;
  width: 16.245140075683594px;
  height: 16.245136260986328px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Union_1 {
  position: absolute;
  width: 14.504798889160156px;
  height: 14.50482177734375px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_3 {
  position: absolute;
  width: 17.598670959472656px;
  height: 17.60171890258789px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_124 {
  position: absolute;
  width: 15.85205078125px;
  height: 13.209049224853516px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_42 {
  position: absolute;
  width: 17.065711975097656px;
  height: 17.066011428833008px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_13 {
  position: absolute;
  width: 181.3787078857422px;
  height: 2.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  position: absolute;
  width: 81.21599578857416px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span {
  color: #8B8B8B;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 {
  position: absolute;
  width: 101.00067983001463px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 {
  position: absolute;
  width: 113.92626953125px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 13.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 13.5pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_10 {
  position: absolute;
  width: 20.0px;
  height: 20.189903259277344px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Path_1 {
  position: absolute;
  width: 1101.4007568359375px;
  height: 2.0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 {
  position: absolute;
  width: 65.0px;
  min-height: 3.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Union_5 {
  position: absolute;
  width: 18.471176147460938px;
  height: 15.984161376953125px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}