<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!-- Feathericon CSS -->
		<link rel="stylesheet" href="assets/css/feather.css">

        <!--font style -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap" rel="stylesheet">

        <!-- Ckeditor CSS-->
        <link rel="stylesheet" href="assets/css/ckeditor.css">

		<!-- Select 2 -->
		<link rel="stylesheet" href="assets/css/select2.min.css">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="assets/css/line-awesome.min.css">

		<!-- Theme CSS -->
        <link rel="stylesheet" href="assets/css/theme-settings.css">

		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css" class="themecls">

		<!-- Bulma CSS for Login-->
    </head>
    <body >
		<!-- Main Wrapper -->
		
        <div class="main-wrapper" id = "wrapmain">
			
		
			<!-- Header -->
            <div class="header" id="heading">
				
			
				<!-- Logo -->
                <div class="header-left">
                    <header text-align: center>Schultz Bernstein and Associates
					</header>
				</div>

				<div>
					<div id="signinplace"><button class="add btn btn-gradient-primary font-weight-bold text-white todo-list-add-btn btn-rounded signedout" id="add-task" data-bs-toggle="modal" data-bs-target="#signinmodal">Log in</button></div>
					<div id="signoutplace"><button class="add btn text-black font-weight-bold todo-list-add-btn btn-rounded signedin is-hidden" id="signoutbtn">Log Out</button></div>
				</div>

			</div>
				<!-- /Logo -->

				<div class="modal right fade" id="signinmodal" tabindex="-1" role="dialog" aria-modal="true">
					<div class="modal-dialog" role="document">
						<button type="button" class="close md-close" data-bs-dismiss="modal" aria-label="Close"> </button>
						<div class="modal-content">

							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
									<form id = "signin_form">
									
									<div class="form-group row">
										<div class="col-md-12"><label class="col-form-label">Email</label></div>
	
										<div class="col-md-4">
											<input class="form-control" type="text" placeholder="Email" name="prefix-name" id = "user_email">
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6">
											<label class="col-form-label">Password</label>
											<input type="password" class="form-control"  name="pswrd" placeholder="User Password" id = "user_password">
										</div>
									</div>			            
									<div class="signin">
										<button class="button is-primary">Sign in</button>
									</div>
									<div class="error" style = "color: red"></div>
								</form>
									</div>
								</div>
	
							</div>
	
						</div><!-- modal-content -->
					</div><!-- modal-dialog -->
				</div><!-- modal -->



				
				<a id="toggle_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				
				
				<!-- Header Title -->
               
				<!-- /Header Title -->

            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar_menu" class="sidebar-menu">

						<ul>
							<li class="nav-item nav-profile">
				              <a href="#" class="nav-link">
				                <div class="nav-profile-image">
				                  <img src="assets/img/profiles/avatar-17.jpg" alt="profile">
				                  
				                </div>
				                <div class="nav-profile-text d-flex flex-column">
				                  <span class="font-weight-bold mb-2">Steve Storrs</span>
				                  <span class="text-white text-small">Owner</span>
				                </div>
				                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
				              </a>
				            </li>
		
							
					
							<li> 
								<a href="dashboard.html" style="cursor: pointer;"><i class="feather-grid clicklink" ></i> <span>Dashboard</span></a>
							</li>
							<li> 
								<a onclick="contacts_page()" style="cursor: grab;"><i class="feather-user clicklink" ></i> <span>Contacts</span></a>
							</li>
							<li> 
								<a onclick="get_companies()" style="cursor: pointer;"><i class="feather-database clicklink" ></i> <span>Companies</span></a>
							</li>
							<li> 
								<a onclick="task_list_page()" style="cursor: pointer;"><i class="feather-check-square clicklink" ></i> <span>Task List</span></a>
							</li>
							<li> 
								<a onclick="conversation_history()" style="cursor: pointer;"><i class="feather-smartphone clicklink" ></i> <span>Conversation History</span></a>
							</li>
							<li> 
								<a onclick="quick_notes()" style="cursor: pointer;"><i class="feather-calendar clicklink" ></i> <span>Quick Notes</span></a>
							</li>							
							
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper" id = "wrapper2">
                <div class="content container-fluid">

					<div class="crms-title row bg-white">
                		<div class="col  p-0">
                			<h3 class="page-title m-0">
			                <span class="page-title-icon bg-gradient-primary text-white me-2">
			                  <i class="feather-grid" aria-hidden="true"></i>
			                </span> Dashboard </h3>
                		</div>
                	</div>
					<div class="row mt-4">
						
						
						
								<div class="row">
									<div class="col-12 col-md-6 col-lg-4 d-flex">
										<div class="card flex-fill">
											<div class="card-header">
												<h5 class="card-title mb-0">Quick Links</h5>
											</div>
											<div class="card-body">
												<ul>
													<li><a class="card-link" href="https://www.cisa.gov/">Cybersecurity & Infrastrucutre Security Agency</a></li>
													<br>
													<li><a class="card-link" href="https://www.lastpass.com/">Lastpass</a></li>
												</ul>
											</div>
										</div>
										
									</div>	
                    </div>
                </div>
				<!--Calendar-->
				<div>
					<iframe src="https://calendar.google.com/calendar/embed?src=thestorrsfamily%40gmail.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
				</div>
			</div>		
			<!-- /Page Wrapper -->
        </div>
		<!-- /Main Wrapper -->
		
		 

	<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-storage.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>


		<script>
			// ***THIS IS THE JAVASCRIPT FOR THE LOGIN INFORMATION****
		// 	var login_button = document.querySelector("#login_button");
        // login_button.addEventListener('click', function () {
        //     var login = document.querySelector('#login');
        //     login.classList.add('is-active');
        // })
        // var loginbg = document.querySelector("#loginbg");
        // loginbg.addEventListener('click', function () {
        //     login.classList.remove('is-active');
        // })
		
			// TODO
			// Copy **only** your firebaseConfig from Google Firebae and add it below
	
			// Your web app's Firebase configuration 
	
			const firebaseConfig = {
			apiKey: "AIzaSyBJesdsgsXdg3eNXzNWT4epx1q_X4mf4bM",
			authDomain: "schultz-bernstein-b16ab.firebaseapp.com",
			projectId: "schultz-bernstein-b16ab",
			storageBucket: "schultz-bernstein-b16ab.appspot.com",
			messagingSenderId: "772452220920",
			appId: "1:772452220920:web:5044c4790d017bd5baa00d"
			};
	
	
			// Initialize Firebase
			firebase.initializeApp(firebaseConfig);
			// define authentication variable
			let auth = firebase.auth();
			let db = firebase.firestore();
	
			// define a storage reference
			let ref = firebase.storage().ref();
		</script>
		<!-- make sure to add your own js file as the last line in index.html file -->



		<!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="assets/js/jquery.slimscroll.min.js"></script>

        <!-- Feather Icon JS -->
		<script src="assets/js/feather.min.js"></script>

        <!-- ckeditor JS -->
	    <script src="assets/js/ckeditor.js"></script>

		<!-- Select 2 -->
		<script src="assets/js/select2.min.js"></script>

        <!-- Bootstrap Tagsinput JS -->
        <script src="assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>
      
		<!-- theme JS -->
		<script src="assets/js/theme-settings.js"></script>

		<!-- Custom JS -->
		<script src="assets/js/app.js"></script>

		<!--Project JS-->
		<script src="assets/js/project.js"></script>
    </body>
</html> 